#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 3
#define SCROLL 4
#define NUM 1
#define U_MOUSE_MOVE_MAX 900
#define U_MOUSE_SCROLL_MAX 8

&mt {
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        l_enter {
            bindings = <&kp ENTER>;
            key-positions = <12 13>;
        };

        r_enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;
        };

        l_launcher {
            bindings = <&kp F5>;
            key-positions = <13 14>;
        };

        r_launcher {
            bindings = <&kp F5>;
            key-positions = <17 18>;
        };

        bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        tab {
            bindings = <&none>;
            key-positions = <3 2>;
        };

        l_config {
            bindings = <&mo 5>;
            key-positions = <34 35>;
        };

        r_config {
            bindings = <&mo 5>;
            key-positions = <42 32>;
        };

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <30 31>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <31 32>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <29 30>;
        };

        to_jp {
            bindings = <&kp LS(LC(J))>;
            key-positions = <24 25>;
        };

        to_en {
            bindings = <&kp LC(LS(SEMICOLON))>;
            key-positions = <25 23>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <16 17>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <28 29>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <32 33>;
        };

        l_caps_word {
            bindings = <&caps_word>;
            key-positions = <10 11>;
        };

        r_caps_word {
            bindings = <&caps_word>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        qt_mo: qt_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "QUANTUM_MOMENTARY_LAYER";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
        };

        qt_mt: qt_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "QUANTUM_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <125>;
        };

        scrl_mo: scrl_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "MOMENTARY_SCROLL";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
        };

        thm_mt: thm_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-on-release;
        };

        thm_mo: thm_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MOMENTARY_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        l_mo: l_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "L_MOMENTARY_LAYER";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <28 16 17 29 5 6 18 6 7 8 18 19 20 30 31 32 9 21 33 42 39 40 22>;
        };

        r_mo: r_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "R_MOMENTARY_LAYER";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <0 1 4 10 11 12 13 14 15 22 23 24 25 26 27 2 3 22 34 35 36 39 40 33>;
        };

        l_mt: l_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "L_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <16 17 20 21 28 29 30 31 32 33 5 6 7 8 9 17 18 19 20 21 42 40 39 22 0>;
            hold-trigger-on-release;
        };

        r_mt: r_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "R_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 36 34 35 39 40 33>;
            hold-trigger-on-release;
        };

        cpswrd_shft: cpswrd_shft {
            compatible = "zmk,behavior-hold-tap";
            label = "CAPSWORD_SHIFT";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        to_num: to_num {
            compatible = "zmk,behavior-tap-dance";
            label = "TO_NUM_LAYER";
            #binding-cells = <0>;
            bindings = <&trans>, <&to 1>;

            tapping-term-ms = <280>;
        };

        to_sym: to_sym {
            compatible = "zmk,behavior-tap-dance";
            label = "TO_SYM_LAYER";
            #binding-cells = <0>;
            bindings = <&trans>, <&to 8>;

            tapping-term-ms = <280>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &kp W             &kp E             &kp R             &kp T                                                    &kp Y            &kp U              &kp I          &kp O              &kp P
&l_mt LEFT_SHIFT A  &l_mt LEFT_ALT S  &l_mt LCTRL D     &l_mt LEFT_GUI F  &kp G            &kp LEFT_BRACKET       &kp MINUS        &kp H            &r_mt RIGHT_GUI J  &r_mt RCTRL K  &r_mt RIGHT_ALT L  &r_mt RIGHT_SHIFT SEMI
&kp Z               &kp X             &kp C             &kp V             &kp B            &kp RIGHT_BRACKET      &kp EQUAL        &kp N            &kp M              &kp COMMA      &kp DOT            &scrl_mo 4 SLASH
&kp TAB             &kp GRAVE         &kp SINGLE_QUOTE  &thm_mo 6 ESCAPE  &thm_mo 2 SPACE  &thm_mo 7 ENTER        &thm_mo 8 ENTER  &thm_mo 1 SPACE                                                       &scrl_mo 4 BACKSLASH
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        NUM_ARROW {
            bindings = <
&kp ASTERISK   &kp N7        &kp N8            &kp N9        &kp PLUS                                  &to 0   &to_num         &to_sym           &trans        &trans
&kp SLASH      &kp NUMBER_4  &kp N5            &kp NUMBER_6  &kp MINUS  &kp LEFT_BRACKET       &trans  &trans  &kp LEFT_GUI    &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT
&kp BACKSLASH  &kp NUMBER_1  &kp NUMBER_2      &kp NUMBER_3  &kp EQUAL  &kp RIGHT_BRACKET      &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW    &kp UP_ARROW  &kp RIGHT
&trans         &kp GRAVE     &kp SINGLE_QUOTE  &kp DOT       &kp N0     &kp COMMA              &trans  &trans                                                  &trans
            >;
        };

        MEDIA {
            bindings = <
&kp C_VOLUME_DOWN          &kp C_VOLUME_UP  &kp C_PLAY_PAUSE  &kp C_PREVIOUS   &kp C_NEXT                       &to 0   &to_num       &to_sym    &trans        &trans
&kp K_MUTE                 &kp F7           &kp F6            &kp F8           &trans      &kp F15      &trans  &trans  &kp LEFT_GUI  &kp RCTRL  &kp LEFT_ALT  &kp LEFT_SHIFT
&mt LEFT_SHIFT LEFT_ARROW  &kp DOWN_ARROW   &kp UP_ARROW      &kp RIGHT_ARROW  &trans      &kp F14      &trans  &trans  &trans        &trans     &trans        &trans
&trans                     &trans           &trans            &trans           &trans      &trans       &trans  &trans                                         &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB3  &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans    &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB3  &mkp MB1  &mkp MB2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SYS {
            bindings = <
&trans  &trans        &trans        &trans        &trans                                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans           &sys_reset   &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &bootloader      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans  &trans           &trans       &trans                                                  &trans
            >;
        };

        WIN_NAV {
            bindings = <
&kp LC(LG(NUMBER_1))  &kp LC(LG(NUMBER_2))  &kp LC(LG(NUMBER_3))  &kp LC(LG(NUMBER_4))  &kp LC(LG(N5))                                           &kp LC(LG(NUMBER_6))  &kp LC(LG(N7))          &kp LC(LG(N8))      &kp LC(LG(N9))    &kp LC(LG(N0))
&kp LA(LG(LCTRL))     &kp LA(LEFT_GUI)      &kp LA(LCTRL)         &kp LG(LCTRL)         &kp LG(LC(G))         &kp LG(LEFT_BRACKET)       &trans  &trans                &kp RA(RG(LEFT_ARROW))  &trans              &trans            &kp RA(RG(RIGHT))
&trans                &kp LA(LG(NUMBER_1))  &kp LA(LG(NUMBER_2))  &kp LA(LG(NUMBER_3))  &kp LA(LG(NUMBER_6))  &kp LG(RIGHT_BRACKET)      &trans  &trans                &kp RC(LEFT_ARROW)      &kp RC(DOWN_ARROW)  &kp RC(UP_ARROW)  &kp RC(RIGHT)
&trans                &trans                &trans                &trans                &trans                &trans                     &trans  &trans                                                                              &trans
            >;
        };

        EMACS_NAV {
            bindings = <
&kp LC(LS(TAB))  &trans         &kp LG(P)      &trans     &trans                                                           &kp LC(U)      &trans     &kp LC(P)          &kp LA(SQT)         &kp LA(MINUS)
&kp LC(TAB)      &kp LG(B)      &kp LG(N)      &kp LG(F)  &trans     &kp LG(LEFT_BRACKET)       &kp LS(LA(LEFT_BRACKET))   &trans         &kp LC(B)  &kp LC(N)          &kp LC(F)           &kp LA(SEMICOLON)
&kp LA(LG(Z))    &kp LA(LG(X))  &kp LA(GRAVE)  &kp LC(V)  &kp LG(V)  &kp LG(RIGHT_BRACKET)      &kp LS(LA(RIGHT_BRACKET))  &trans         &trans     &kp LS(LG(COMMA))  &kp LS(LG(PERIOD))  &trans
&trans           &trans         &trans         &trans     &trans     &trans                     &kp LC(SPACE)              &kp LG(SPACE)                                                    &trans
            >;
        };

        SYM {
            bindings = <
&kp LEFT_BRACE  &kp AMPS         &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE                                    &trans  &trans        &trans     &trans        &trans
&kp COLON       &kp DOLLAR       &kp PERCENT   &kp CARET             &kp PLUS               &trans              &trans  &trans  &kp LEFT_GUI  &kp RCTRL  &kp LEFT_ALT  &kp LEFT_SHIFT
&kp TILDE       &kp EXCLAMATION  &kp AT        &kp HASH              &kp PIPE               &trans              &trans  &trans  &trans        &trans     &trans        &trans
&trans          &trans           &trans        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp UNDERSCORE      &trans  &trans                                         &trans
            >;
        };
    };
};
